/* --- ACCORDION ------------------------------------------------------------ */

#dform_container .accordion {
  width: 100%;
  max-width: 445px;
  margin: 0;
  border: none;
  background-color: var(--color-white);
}

#dform_container .accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 1.6rem;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-black);
  border-bottom: 1px solid var(--color-black);
  cursor: pointer;
}

#dform_container .accordion-header>h3 {
  display: inline;
  margin: 0;
}

#dform_container .accordion-header:hover {
  background-color: var(--color-grey-1);
}

#dform_container .accordion-content {
  display: none;
  padding: 2rem 1.5rem;
  font-size: var(--font-size-p1);
  background-color: var(--color-white);
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

#dform_container .accordion-item.active .accordion-content {
  display: block;
  max-height: 100px;
}

#dform_container .accordion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;

  background: var(--color-primary);
}

#dform_container .accordion-icon::after {
  content: "\e909";
  font-family: "icomoon";
  font-size: 2.4rem;
  color: var(--color-white);
  transition: transform 0.2s ease-in-out;
}

#dform_container .accordion[open] .accordion-icon::after {
  transform: rotate(180deg);
}

#dform_container details[open] .accordion-content {
  display: block;
}

/* --- DETAILS ACCORDION --------------------------------------------------- */

#dform_container .details-accordion {
  max-width: 571px;
}

#dform_container .details-accordion:focus-within {
  border: none;
}

#dform_container .details-accordion[open]:focus-within {
  background: var(--color-white);
}

#dform_container .details-accordion summary {
  padding-right: 16px;
  font-size: var(--font-size-p1);
  line-height: var(--font-height-p1);
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary);
  border-bottom: 4px solid transparent;
}

#dform_container .details-accordion:hover summary {
  text-decoration: underline;
  cursor: pointer;
}

#dform_container .details-accordion summary:focus {
  border: none;
  background: var(--color-white);
  width: max-content;
  background: var(--color-warning);
  color: var(--color-black);
  border-bottom: 4px solid var(--color-black);
  outline: none;
}

#dform_container .details-accordion-content {
  background: var(--color-white);
}

#dform_container .details-accordion-content p {
  border-left: solid 4px var(--color-grey-5);
  padding-block: 6px 10px;
  padding-inline: 19px 15px;
  margin: 0;
}