/* --- APOINTMENT SELECTOR --- */

#dform_container #dform_widget_html_ahtm_appointment_selector:focus {
  background: transparent !important;
  box-shadow: none;
}

#dform_container .appointment-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

#dform_container .appointment-container > * {
  margin: 0 !important;
}

#dform_container .appointment-container .date-selector,
#dform_container .appointment-container .time-selector {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--spacing-sm) !important;
}

#dform_container .appointment-container .date-option,
#dform_container .appointment-container .time-slot {
  min-width: 5.5rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--c-core-brand-primary-darken);
  background: var(--c-greys-white);
  border-color: var(--c-core-brand-primary-darken);
  width: 100%;
  height: 4rem;
  padding: var(--spacing-md) var(--spacing-smd);
  border-radius: 16px !important;
}

#dform_container .appointment-container .time-slot {
  min-width: max-content !important;
}

#dform_container .appointment-container .earlier-date,
#dform_container .appointment-container .later-date {
  min-width: max-content !important;
  color: var(--c-core-brand-primary-darken);
  background: var(--c-greys-white);
  border-color: var(--c-core-brand-primary-darken);
  font-size: var(--font-size-xxxl);
  line-height: var(--line-height);
  padding: 0 15px;
  width: 100%;
  border-radius: 16px !important;
}

#dform_container .appointment-container .earlier-date > svg,
#dform_container .appointment-container .later-date > svg {
  width: var(--font-size-base);
  height: var(--font-size-base);
  transform: rotate(-90deg) scale(2);
}

#dform_container .appointment-container .later-date > svg {
  transform: rotate(90deg) scale(2);
}

#dform_container .appointment-container .earlier-date > svg > path,
#dform_container .appointment-container .later-date > svg > path {
  fill: var(--c-core-brand-primary-darken);
}

#dform_container .appointment-container .earlier-date:not(.appointment-container .disabled):hover,
#dform_container .appointment-container .date-option:not(.appointment-container .disabled):hover,
#dform_container .appointment-container .later-date:not(.appointment-container .disabled):hover,
#dform_container .appointment-container .time-slot:not(.appointment-container .disabled):hover {
background-color: var(--c-core-brand-primary-darken) !important;
color: var(--c-greys-white) !important;
border-color: var(--c-core-brand-primary-darken) !important;
}

#dform_container .appointment-container .earlier-date:hover > svg > path,
#dform_container .appointment-container .later-date:hover > svg > path {
  fill: var(--c-greys-white);
}

#dform_container .appointment-container .earlier-date:not(.appointment-container .disabled):focus,
#dform_container .appointment-container .date-option:not(.appointment-container .disabled):focus,
#dform_container .appointment-container .later-date:not(.appointment-container .disabled):focus,
#dform_container .appointment-container .time-slot:not(.appointment-container .disabled):focus {
background-color: var(--c-focus-links) !important;
color: var(--c-greys-black) !important;
border-color: var(--c-focus-links) !important;
}

#dform_container .appointment-container .earlier-date:focus > svg > path,
#dform_container .appointment-container .later-date:focus > svg > path {
  fill: var(--c-greys-black);
}

#dform_container .appointment-container .appointment-active {
/*background-color: var(--c-alerts-success) !important;*/
/*color: var(--c-greys-white) !important;*/
/*border-color: var(--c-alerts-success) !important;*/
background-color: var(--c-focus-links) !important;
color: var(--c-greys-black) !important;
border-color: var(--c-focus-links) !important;
}

#dform_container .appointment-container .disabled,
#dform_container .appointment-container .earlier-date:disabled,
#dform_container .appointment-container .date-option:disabled,
#dform_container .appointment-container .later-date:disabled,
#dform_container .appointment-container .time-slot:disabled {
cursor: not-allowed !important;
opacity: 0.5 !important;
}

@media screen and (min-width: 700px) {
  #dform_container .appointment-container .date-selector,
  #dform_container .appointment-container .time-selector {
      flex-direction: row;
  }
  
  #dform_container .appointment-container .earlier-date,
  #dform_container .appointment-container .later-date {
      width: auto;
      max-width: max-content !important;
      border-radius: 25px !important;
  }
  
  #dform_container .appointment-container .date-option,
  #dform_container .appointment-container .time-slot {
      flex: 1;
      width: auto;
  }
  
  #dform_container .appointment-container .earlier-date svg {
      transform: rotate(180deg) scale(2);
  }
  
  #dform_container .appointment-container .later-date svg {
      transform: rotate(0deg) scale(2);
  }
}

#dform_container .appointment-container hr {
  height: 2px;
  border: none;
  background: var(--c-core-brand-primary-darken);
}
