#dform_container .dform_widget_type_buttonset {
  margin-block: var(--spacing-xl);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  gap: var(--spacing-sm);
}

#dform_container .dform_widget_type_buttonset.vertical {
  flex-direction: column;
}

#dform_container button,
#dform_container button.link-btn,
#dform_container button.secondary-link-btn,
#dform_container button.action-link-btn,
#dform_container a.button,
#back-to-requests-link {
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  margin: 0;
  padding: var(--spacing-xs) var(--spacing-md);
  text-decoration: none;
  cursor: pointer;
  color: var(--c-greys-white);
  background: var(--c-core-brand-primary-darken);
  border: solid 2px var(--c-core-brand-primary-darken);
  border-radius: 1.5625rem !important;
  min-width: 8.75rem;
  width: max-content;
  min-height: var(--field-height-sm);
  height: var(--field-height-md);
  max-height: 8.75rem;
}

#dform_container button {
  font-weight: var(--font-weight-semibold);
}

#dform_container button.success-btn {
  color: var(--c-greys-white);
  background: var(--c-alerts-success);
  border: solid 2px var(--c-alerts-success);
}

#dform_container button.danger-btn {
  color: var(--c-greys-white);
  background: var(--c-alerts-danger);
  border: solid 2px var(--c-alerts-danger);
}

#dform_container button.primary-btn {
  color: var(--c-greys-white);
  background: var(--c-core-brand-primary-darken);
  border: solid 2px var(--c-core-brand-primary-darken);
}

#dform_container button.secondary-btn,
#back-to-requests-link {
  color: var(--c-core-brand-primary-darken);
  background: var(--c-greys-white);
  border: solid 2px var(--c-core-brand-primary-darken);
}

#dform_container button.teal-btn {
  color: var(--c-greys-white);
  background: var(--c-brand-accents-teal);
  border: solid 2px var(--c-brand-accents-teal);
}

#dform_container button.accent-2-btn {
  color: var(--c-core-brand-primary-darken);
  background: var(--c-core-brand-accent-2);
  border: solid 2px var(--c-core-brand-accent-2);
}

#dform_container a.button,
#back-to-requests-link {
  margin-block: var(--spacing-xl);
}

#dform_container .dform_widget_type_buttonset.link-btn-container {
  margin: 0;
}

#dform_container a.link-btn,
#dform_container button.link-btn,
#dform_container button.secondary-link-btn,
#dform_container button.action-link-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: fit-content;
  width: fit-content;
  max-width: fit-content;
  min-height: fit-content;
  height: fit-content;
  max-height: fit-content;
  line-height: var(--line-height-body);
  color: var(--c-core-brand-primary-darken);
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  text-decoration: none;
  /* text-underline-offset: 0.25rem; */
}

#dform_container button.secondary-link-btn {
  color: var(--c-brand-accents-teal);
}

/* --- ACTION LINK --- */

#dform_container button.action-link-btn {
  padding: 5px 1px;
  font-weight: var(--font-weight-semibold);
}

#dform_container button.action-link-btn::before {
  content: url(../icons/arrow-right-primary-darkened.svg);
  align-items: center;
  justify-content: center;
  height: var(--field-height-md);
  width: var(--field-height-md);
  margin-right: 1rem;
  padding: 0.8rem;
  background: var(--c-core-brand-accent-2);
  border-radius: 100%;
}

/* --- BUTTON HOVER/FOCUS --- */

#dform_container button:hover,
#dform_container button:active,
#dform_container a.button:hover {
  color: var(--c-greys-white);
  background: var(--c-brand-accents-teal);
  border-color: var(--c-brand-accents-teal);
  box-shadow: none;
}

#dform_container button:focus,
#dform_container a.button:focus,
#dform_container a.button:active,
#back-to-requests-link:focus,
#back-to-requests-link:active {
  color: var(--c-greys-black) !important;
  background: var(--c-focus-links) !important;
  border-color: var(--c-focus-links) !important;
  box-shadow: none !important;
  outline: none !important;
}

#dform_container button.teal-btn:hover{
  color: var(--c-greys-white);
  background: var(--c-core-brand-primary-darken);
  border-color: var(--c-core-brand-primary-darken);
  box-shadow: none;
}

#dform_container button.secondary-btn:hover,
#back-to-requests-link:hover {
  color: var(--c-brand-accents-teal);
  background: var(--c-greys-white);
  border-color: var(--c-brand-accents-teal);
  box-shadow: none;
}

#dform_container a.link-btn:hover,
#dform_container button.link-btn:hover {
  color: var(--c-brand-accents-teal);
  background: transparent;
  text-decoration: underline;
  box-shadow: none;
}

#dform_container button.secondary-link-btn:hover {
  color: var(--c-greys-black);
  background: transparent;
  text-decoration: underline;
  box-shadow: none;
}

#dform_container button.action-link-btn:hover {
  color: var(--c-core-brand-primary-darken);
  background: var(--c-greys-white);
  text-decoration: underline;
}

#dform_container .dform_widget_type_buttonset.action-link-btn-container:focus-within {
  width: max-content;
  background: var(--c-focus-links);
  /* border-bottom: 2px solid var(--c-greys-black); */
}

#dform_container a.link-btn:focus,
#dform_container a.link-btn:active,
#dform_container button.link-btn:focus,
#dform_container button.secondary-link-btn:focus, 
#dform_container button.action-link-btn:focus {
  color: var(--c-greys-black);
  background: var(--c-focus-links);
  border-radius: unset !important;
  outline: none;
  text-decoration: none !important;
  /* border-bottom: 2px solid var(--c-greys-black); */
}

#dform_container button.action-link-btn:focus::before {
  content: url(../icons/arrow-right-focus-link.svg);
  background: var(--c-greys-black);
}
