#dform_container input[type="file"] {
  padding: 0 !important;
  border: none;
  height: 42px !important;
}

input[type="file"]::file-selector-button {
  padding-inline: var(--spacing-xs);
  height: 100%;
  border-radius: 5px;
  border: solid 1px var(--c-core-brand-body);
  margin-right: var(--spacing-xs);
}

#dform_container .dform_widget_type_file br {
  display: none;
}

#dform_container div[data-type="file"]>div:nth-child(2) {
  margin-top: var(--spacing-md);
  display: grid;
  grid-template-columns: 8.3rem auto;
  align-items: baseline;
}

@media screen and (min-width: 960px) {
  #dform_container div[data-type="file"]>div:nth-child(2) {
    grid-template-columns: 9.4rem auto;
  }
}

#dform_container input[type="file"] {
  padding-left: 0 !important;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  z-index: 0;
  height: auto;
  color: var(--c-core-brand-body);
  background: var(--c-greys-white);
  border: 2px transparent var(--c-core-brand-secondary);
}

#dform_container .dform_filenames {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  max-width: 99%;
  z-index: 1;
  background: var(--c-greys-white);
  overflow: hidden;
}

#dform_container div[data-type="file"] div.dform_validationMessage {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

#dform_container .dform_filenames:focus,
#dform_container .dform_filenames:focus-within,
#dform_container input[type="file"]:focus~.dform_filenames,
#dform_container input[type="file"]:focus-within~.dform_filenames {
  background: var(--c-greys-white);
}

#dform_container :has(.dform_filenames:focus, .dform_filenames:focus-within) input[type="file"] {
  background: var(--c-greys-white);
  box-shadow: inset 0 0 0 2px var(--c-core-brand-secondary),
    0 0 0 2px var(--color-warning);
}


#dform_container .dform_filenames {
  max-height: 66%;
  transform: translateY(2px);
}

#dform_container .dform_filenames>span {
  display: inline-block;
  cursor: pointer;
  color: var(--c-greys-black);
  margin: unset;
  padding: unset;
  border-color: transparent;
  transform: translateY(-2px);
}

#dform_container .dform_filenames span:hover {
  border-color: transparent;
  cursor: default;
}

#dform_container .dform_filenames>span a {
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-body);
  color: var(--c-greys-black);
}

#dform_container .dform_filenames>span,
#dform_container .dform_filenames>span a:hover {
  color: var(--c-greys-black);
  background: var(--c-greys-white);
  border: none;
  text-decoration: none;
  cursor: default !important;
}

#dform_container .dform_filenames span.file_delete {
  margin-left: var(--spacing-xs);
  padding: 0;
  font-family: SpartaIcons;
  cursor: pointer;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-body);
}

#dform_container .file_delete::after {
  margin-left: var(--spacing-xs);
  content: 'Remove';
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-body);
  color: var(--c-greys-black);
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

#dform_container .file_delete:hover::after {
  text-decoration-thickness: 2px;
}

#dform_container .file_delete:focus::after {
  text-decoration-color: transparent;
}

#dform_container div[data-type="file"]>div:nth-child(2) br,
#dform_container .dform_fileupload_progressbar {
  display: none;
}

/* --- Multiple Files  */

#dform_container .multi-file[data-type="file"] .file-counter-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xxs);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  margin-block: var(--spacing-xs);
}

#dform_container .multi-file[data-type="file"] input[type="file"].dform_fielderror {
  border: none !important;
}

#dform_container .multi-file[data-type="file"]>div:nth-child(3) {
  display: flex;
  flex-direction: column;
}

#dform_container .multi-file[data-type="file"] .dform_filenames {
  width: 100%;
  max-width: 700px;
}

#dform_container .multi-file[data-type="file"] .dform_filenames::before {
  content: "Files added";
  margin-block: var(--spacing-xxs);
  padding: 0;
  display: inline-block;
  font-family: var(--font-family);
  font-size: var(--font-size-xl);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-semibold);
  color: var(--c-core-brand-primary-darken);
  vertical-align: unset;
  background: transparent;
}

#dform_container .multi-file[data-type="file"] .dform_filenames>span {
  padding-block: var(--spacing-sm);
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: var(--spacing-xl);
  border-bottom: 1px solid var(--c-core-brand-body);
}

#dform_container .multi-file[data-type="file"] .dform_filenames>span::before {
  content: "Uploaded";
  display: inline-flex;
  align-items: center;
  padding-left: var(--spacing-lg);
  background-image: url("../icons/circle-check-success.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-body);
  color: var(--c-alerts-success);
  grid-row: 1 / -1;
  grid-column: 2 / 3;
}

#dform_container .multi-file[data-type="file"] .dform_filenames>span>a {
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  margin: 0;
  text-decoration: none;
}

#dform_container .multi-file[data-type="file"] .file_delete {
  grid-row: 1 / -1;
  grid-column: 3 / 4;
  color: transparent;
  font-size: 0;
  margin: 0;
  padding: 0;
  line-height: 1;
}

#dform_container .multi-file[data-type="file"] .file_delete::after {
  content: 'Remove';
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-body);
  color: var(--c-core-brand-primary-darken);
  text-decoration: underline;
  text-underline-offset: 0.50rem;
}

#dform_container .multi-file[data-type="file"] .file_delete:hover::after {
  color: var(--c-brand-accents-teal);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

#dform_container .multi-file[data-type="file"] .file_delete:focus::after {
  text-decoration: none;
}