#profile #dform_controls,
#dform_pageholder {
  padding: 0 !important;
}

#dform_container #dform_widget_html_ahtm_about_you:focus,
#dform_container #dform_widget_html_ahtm_account_management:focus {
  outline: none !important;
  box-shadow: none !important;
}

#profile #dform_container .container .area .box,
#profile #dform_container .container>.three {
  width: 100%;
  max-width: 100%;
}

#dform_page_page_profile>div.container.area.dform_section_area_account {
  display: flex;
  flex-direction: column;
}

#dform_page_page_profile > div.container.area.dform_section_area_account > div.box.profile-details-header.box_my_details.nine {
  flex: 1;
}

#dform_page_page_profile > div.container.area.dform_section_area_account > div.box.profile-details-header.box_account.last.three {
  flex: 0.5;
}

@media screen and (min-width: 960px) {
  #dform_page_page_profile > div.container.area.dform_section_area_account {
    flex-direction: row;
  }
/* 
  #profile #dform_container .container>.three {
    width: 35%;
  } */
}

#dform_page_page_profile>div.container.area.dform_section_area_profile_info>div {
  max-width: 100%;
}

#dform_widget_html_ahtm_finish_profile,
#dform_widget_html_ahtm_profile_updated {
  margin-top: 0 !important;
}

#dform_container div.box.profile-details-header fieldset>legend {
  margin: 0;
  background: var(--c-greys-white);
  padding: var(--spacing-sm) var(--spacing-smd);
  border-radius: 1.5625rem 1.5625rem 0 0 !important;
  transform: translateX(3px);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

#dform_container .profile-details-container {
  margin: 0;
  margin-bottom: var(--spacing-xl);
  background: var(--c-greys-white);
  padding: var(--spacing-smd);
  border-radius: 0 1.5625rem 1.5625rem !important;
}

#dform_container .user-account-details {
  background: var(--c-core-tints-accent-2-tint-20);
  padding: var(--spacing-smd);
  border-radius: 1.5625rem !important;
}

#dform_container .user-detail-group {
  padding-block: var(--spacing-xs);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  border-bottom: 1px solid var(--c-core-brand-secondary);
}

#dform_container .user-detail-group:last-child {
  border-bottom: none;
}

#dform_container .user-detail-group p {
  margin: 0 !important;
}

#dform_container .detail-change-link {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  align-self: end;
  margin: 0;
}

#dform_container .detail-change-link a {
  margin: 0;
}

#dform_container .detail-label {
  font-weight: var(--font-weight-semibold);
}

#dform_container #address-value address {
  margin-block: 0 !important;
  padding-left: 0 !important;
  border-left: none !important;
}

.dform_section_box_account fieldset>legend::before,
.dform_section_box_secure_details fieldset>legend::before,
.dform_section_box_my_details fieldset>legend::before {
  content: url(../icons/gear.svg);
  width: var(--font-size-xxxl);
  height: var(--font-size-xxxl);
  line-height: var(--line-height);
}

.dform_section_box_secure_details fieldset>legend::before {
  content: url(../icons/lock.svg);
}

.dform_section_box_my_details fieldset>legend::before {
  content: url(../icons/user.svg);
}

#dform_container .dform_section_box_more_services .services-list a,
#dform_container #see-all-services {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  color: var(--c-brand-accents-teal);
  text-underline-offset: 0.25rem;
  width: max-content;
  margin: 0
}

#dform_container #see-all-services {
  font-weight: var(--font-weight-semibold);
  text-underline-offset: 0.5rem;
}

#dform_container #see-all-services::before {
  content: url(../icons/arrow-right-primary-darkened.svg);
  height: unset;
  justify-content: unset;
  align-items: unset;
  width: var(--font-size-sm);
  transform: translateY(3px);
}

#dform_container .dform_section_box_more_services .services-list a:hover,
#dform_container #see-all-services:hover {
  color: var(--c-greys-black);
  background: transparent;
  text-decoration: underline;
}

#dform_container #see-all-services:focus {
  color: var(--c-greys-black);
  background: var(--c-focus-links);
  border-radius: unset !important;
  outline: none;
  border-bottom: 2px solid var(--c-greys-black);
}

#dform_container #see-all-services:focus::before {
  content: url(../icons/arrow-right-black.svg);
}

#dform_container #dform_widget_button_but_delete_account {
  background: var(--c-alerts-danger);
  border-color: var(--c-alerts-danger);
}

#dform_container #dform_widget_button_but_delete_account:hover {
  background: var(--c-brand-accents-teal);
  border-color: var(--c-brand-accents-teal);
}

#dform_container #dform_widget_button_but_delete_account:focus {
  background: var(--c-focus-links);
  border-color: var(--c-focus-links);
}
