#dform_container .dform_info,
#dform_container .dform_success,
#dform_container .dform_warning,
#dform_container .dform_error {
  border: none;
  border-radius: unset;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
  background-color: transparent;
  color: var(--c-greys-white);
  background: var(--c-brand-accents-teal);
}

#dform_container .dform_infoMessage_outer {
  background: var(--c-brand-accents-teal);
}

#dform_container .dform_success,
#dform_container .dform_successMessage_outer {
  background: var(--c-alerts-success);
}

#dform_container .dform_error,
#dform_container .dform_errorMessage_outer {
  background: var(--c-alerts-danger);
}

#dform_container .dform_warning,
#dform_container .dform_warningMessage_outer {
  color: var(--c-greys-black);
  background: var(--c-alerts-warning);
}

#dform_container .dform_success::before,
#dform_container .dform_info::before,
#dform_container .dform_warning::before,
#dform_container .dform_error::before {
  display: inline-block;
  margin-right: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
  width: var(--font-size-xxxxl);
  line-height: var(--line-height);
  transform: translateY(8px);
}

#dform_container .dform_success::before {
  content: url(../icons/circle-check-success-white.svg);
}

#dform_container .dform_info::before {
  content: url(../icons/circle-info-white.svg);
}

#dform_container .dform_error::before {
  content: url(../icons/triangle-exclamation-danger-white.svg);
}

#dform_container .dform_warning::before {
  content: url(../icons/triangle-exclamation-danger-black.svg);
}





div.site-notification-bar--info {
  background: var(--c-brand-accents-teal);
}

div.site-notification-bar--warning {
  background: var(--c-alerts-warning);
}

div.site-notification-bar--error {
  background: var(--c-alerts-danger);
}

div.site-notification-bar--success {
  background: var(--c-alerts-success);
}

div.notification-content {
  margin-inline: auto;
  max-width: 87.5rem !important;
  padding: var(--spacing-md) clamp(15px, 5vw, 131px) !important;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

div.notification-content p,
div.notification-content a {
  margin: 0px;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  color: var(--c-greys-white);
}

div.notification-content p a {
  font-weight: var(--font-weight-bold);
} 

div.notification-content a {
  gap: var(--spacing-xs);
}

div.site-notification-bar--warning div.notification-content p,
div.site-notification-bar--warning div.notification-content p a,
div.site-notification-bar--warning div.notification-content a {
  color: var(--c-greys-black);
}

div.notification-content p::before {
  display: inline-block;
  width: var(--font-size-xxl);
  line-height: var(--line-height);
  transform: scale(1.5);
}

div.site-notification-bar--success div.notification-content p::before {
  content: url(../icons/circle-check-success-white.svg);
}

div.site-notification-bar--info div.notification-content p::before {
  content: url(../icons/circle-info-white.svg);
}

div.site-notification-bar--error div.notification-content p::before {
  content: url(../icons/triangle-exclamation-danger-white.svg);
}

div.site-notification-bar--warning div.notification-content p::before {
  content: url(../icons/triangle-exclamation-danger-black.svg);
}

a.close-notification-link {
  width: max-content;
  font-size: 14px;
  font-weight: var(--font-weight-bold);
}

a.close-notification-link::before {
  content: url(../icons/close-x-white.svg);
  display: inline-block;
  width: 14px;
  transform: scale(1.3) translateY(2px);
}

a.close-notification-link:focus {
  color: var(--c-greys-black) !important;
}

div.site-notification-bar--warning a.close-notification-link::before,
a.close-notification-link:focus::before {
  content: url(../icons/close-x-black.svg);
}

#dform_container .container .area .box.box-full-width {
  max-width: 100% !important;
}

#dform_container .related-services-menu {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: var(--spacing-md);
}

#dform_container .related-services-card {
  flex: 1;
  margin: unset;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: auto auto;
  gap: var(--spacing-sm);
  min-width: 22.5rem;
  max-width: 22.5rem;
  background: var(--c-core-tints-accent-2-tint-20);
  padding: var(--spacing-md);
  text-decoration: none;
}

#dform_container .related-services-menu .related-services-card h3 {
  grid-column: 1 / -1;
  grid-row: 1 / -2;
  margin: unset;
  padding: unset;
  font-size: var(--font-size-lg);
  color: var(--c-core-brand-primary-darken);
}

#dform_container .related-services-menu .related-services-card p {
  grid-column: 1 / 2;
  grid-row: 2 / -1;
  font-size: var(--font-size-base);
  margin-bottom: 0;
}

#dform_container .related-services-menu .related-services-card img {
  width: 1.25rem;
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  align-self: end;
}











#dform_container section.notice-panel,
#dform_container section.info-panel,
#dform_container section.success-panel,
#dform_container section.alert-panel--ineligible,
#dform_container section.alert-panel--ineligible {
    max-width: 750px;
    padding: 26px 30px 30px;
    background: var(--c-greys-white);
    border: 2px solid var(--c-core-brand-primary-darken);
    border-left: 5px solid var(--c-core-brand-primary-darken);
    border-radius: 0 25px 0 0;
}

#dform_container section.notice-panel,
#dform_container section.info-panel  {
  content: url(../icons/circle-info-primary-darkened.svg);
}

#dform_container section.notice-panel > h3,
#dform_container section.info-panel > h3,
#dform_container section.success-panel > h3,
#dform_container section.alert-panel--ineligible > h3,
#dform_container section.alert-panel--ineligible > h3 {
    margin-top: 0;
}

#dform_container section.notice-panel > p,
#dform_container section.info-panel > p,
#dform_container section.success-panel > p,
#dform_container section.alert-panel--ineligible > p,
#dform_container section.alert-panel--ineligible > p {
    margin-bottom: 0;
}

#dform_container section.notice-panel a,
#dform_container section.info-panel a,
#dform_container section.success-panel a,
#dform_container section.alert-panel--ineligible a,
#dform_container section.alert-panel--ineligible a {
    font-weight: var(--font-weight-bold);
}

#dform_container section.success-panel {
    background: var(--c-core-tints-success-tint-20);
    border-color: var(--c-alerts-success);
}

#dform_container section.success-panel::before {
  content: url(../icons/circle-check-success.svg);
}

#dform_container section.alert-panel--ineligible,
#dform_container section.alert-panel--ineligible {
    background: var(--c-core-tints-accent-1-tint-20);
    border-color: var(--c-alerts-danger);
}

#dform_container section.alert-panel--ineligible,
#dform_container section.alert-panel--ineligible {
  content: url(../icons/triangle-exclamation-danger.svg);
}
